* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  body {
    color: $color-text;
    margin: 0;
    padding: 0;
  }

  a {
    color: $color-text;
    text-decoration: none;
  }

  a:hover {
    color: $red;
    text-decoration-line: none;
  }