#prevBtn {
    position: absolute;
    top: 64%;
    z-index: 10;
    left: 18%;
    font-size: 2em;
    opacity: 0.5;
    cursor: pointer;
}

#nextBtn {
    position: absolute;
    top: 64%;
    z-index: 10;
    right: 3%;
    font-size: 2em;
    opacity: 0.5;
    cursor: pointer;
}

#prevButton {
    position: absolute;
    bottom: -23%;
    z-index: 10;
    left: 18%;
    font-size: 2em;
    opacity: 0.5;
    cursor: pointer;
}

#nextButton {
    position: absolute;
    bottom: -23%;
    z-index: 10;
    right: 3%;
    font-size: 2em;
    opacity: 0.5;
    cursor: pointer;
}

#prevButtonActor {
    position: absolute;
    bottom: -77%;
    z-index: 10;
    left: 18%;
    font-size: 2em;
    opacity: 0.5;
    cursor: pointer;
}

#nextButtonActor {
    position: absolute;
    bottom: -77%;
    z-index: 10;
    right: 3%;
    font-size: 2em;
    opacity: 0.5;
    cursor: pointer;
}

#nextBtn:hover, 
#prevBtn:hover,
#prevButton:hover,
#nextButton:hover,
#prevButtonActor:hover,
#nextButtonActor:hover {
    color: $red;
    opacity:1
}