.main__films--title {
    margin-top: 3em;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    margin-right: 1em;

    svg {
        margin-right: 0.5em;
    }
}

.main__films {
    display: flex;
    margin-top: 3em;
    overflow: hidden;
    margin-right: 2em;

    &--list {
        display: flex;
        width:100%;
        margin-left: 1.5em;

        .main__films--item {

            .film__title {
                text-align: center;
                font-size: 2em;
                font-weight: bold;
            }

            .film__poster {
                height: 20em;
                width: 15em;
                margin: 1em 1em;
            }
        }
    }
}