.header {

    &__item {
        display: flex;
        align-items: center;
        font-family: $font-family-title;
        font-size: $font-size-large;

        &--img {
            height: 50px;
            width: 50px;
            margin-right: 0.5em;
        }
    }
}
