$black: black;
$white: white;
$yellow: yellow;

$color-text: $white;
$color-bg: $black;

$font-size: 16px;
$font-size-medium: 18px;
$font-size-large: 20px;

$font-family: 'Montserrat', sans-serif;
$font-family-fallback: 'Helvetica, Arial, sans-serif';

$navbar-width: 20%;

$breakpoint-medium: 500px;
$breakpoint-large: 800px;
$breakpoint-extra-large: 1200px;

$duration-slow: 0.9s;
$duration-medium: 0.5s;
$duration-fast: 0.3s;